# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Directory (contents) ignores
.cloud
.storage
.google.token
deps

# Specific file ignores
ip_bans.yaml
known_devices.yaml
secrets.yaml

# Ignore files created by IDE's
.vscode
.Trash*

# Specific keeps
!.gitkeep