# homeassistant
latitude: 0
longitude: 0
elevation: 0
internal_url: "http://somewhere.inside:1234"
external_url: "https://somewhere.outside.co.uk"

# Tokens
travisci-token: xxxxxx

# In here for CI purposes
ssl_certificate: fullchain.pem
ssl_key: privkey.pem

db_url: mysql://user:password@SERVER_IP/DB_NAME?charset=utf8